.button {
  position: fixed;
  z-index: 999;
  right: 2.25rem;
  bottom: 2.25rem;

  opacity: 0.8;
  background-color: #0646a0;

  &:hover {
    opacity: 1;
    background-color: var(--color-primary);
  }

  @media screen and (width <= 768px) {
    right: 1.25rem;
    bottom: 1.25rem;
  }
}

.hidden {
  pointer-events: none;
  transform: translateX(100%);
  overflow: hidden;
  opacity: 0;
}
