.title {
  display: grid;
  grid-template-columns: auto 1fr auto;
  place-items: center start;
  gap: 1.25rem;

  padding-bottom: 1.25rem;

  @media screen and (width <= 1024px) {
    grid-template-columns: auto 1fr;
    gap: 0.875rem;
  }
}

.list {
  display: grid;
  gap: 1.25rem;
}
