.searchBar {
  position: relative;

  max-width: 14.375rem;
}

.button {
  position: absolute;
  top: 50%;
  right: 0.25rem;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.25rem;
  height: 2.25rem;
  padding: 0;

  transform: translateY(-50%);

  &:hover {
    .icon {
      fill: var(--color-primary);
    }
  }
}

.icon {
  transition-duration: var(--transition-duration);
}

.input {
  width: 100%;
  padding-right: 2.875rem;
}
