.firstLevelWrapper {
  display: grid;
  gap: 1.25rem;
  padding-top: 0.625rem;
}

.firstLevelItem {
  cursor: pointer;

  display: flex;
  gap: 1.25rem;
  align-items: center;

  font-size: 1.375rem;
  font-weight: 500;
  color: #6c7077;

  transition-duration: var(--transition-duration);

  svg {
    width: 1.5rem;
    height: 1.5rem;
    transition-duration: var(--transition-duration);
  }

  &:hover {
    color: var(--color-primary);

    svg {
      fill: var(--color-primary);
    }
  }
}

.firstLevelItemActive {
  color: var(--color-primary);

  svg {
    fill: var(--color-primary);
  }
}

.secondLevelWrapper {
  display: none;
  gap: 0.625rem;

  margin-top: 0.75rem;
  margin-left: 0.75rem;
  padding-top: 0.375rem;
  padding-left: 2rem;
  border-left: 0.0625rem solid #dfdfdf;

  li:last-child {
    ul {
      margin-bottom: 0;
    }
  }
}

.secondLevelWrapperShow {
  display: grid;
}

.secondLevelItem {
  cursor: pointer;
  user-select: none;

  font-size: 1rem;
  font-weight: 300;
  color: #6c7077;
  text-transform: uppercase;

  transition-duration: var(--transition-duration);

  &:hover {
    color: var(--color-dark);
  }
}

.thirdLevelWrapper {
  overflow: hidden;
  display: block;
  padding-left: 0.375rem;
}

.thirdLevelItem {
  display: block;

  font-size: 1rem;
  font-weight: 500;
  color: #6c7077;

  outline-offset: -1px;

  transition-duration: var(--transition-duration);

  &:hover {
    color: var(--color-primary);
  }
}

.thirdLevelItemActive {
  color: var(--color-primary);
}
