.button {
  padding: 0.5rem 0.75rem;

  cursor: pointer;
  transition-duration: var(--transition-duration);
  text-align: center;

  border-radius: 0.3125rem;

  font-size: 0.875rem;

  &:disabled {
    opacity: 0.5;
  }
}

.primary {
  color: var(--color-light);
  border: 0.0625rem solid var(--color-light);
  background-color: var(--color-primary);

  &:hover {
    color: var(--color-primary);
    border-color: var(--color-primary);
    background-color: var(--color-light);
  }
}

.secondary {
  color: var(--color-dark);
  border: var(--border);
  background-color: var(--color-light);

  &:hover {
    border-color: var(--color-light);
    background-color: #ebebeb;
  }
}

.with-arrow {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.arrow {
  fill: currentcolor;

  transition-duration: var(--transition-duration);
}

.down {
  transform: rotate(90deg);
}

.transparent {
  place-self: start start;

  padding: 0;

  text-align: start;

  color: var(--color-dark);
  border: none;
  outline-offset: 0.1875rem;
  background-color: transparent;

  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
}
