.button {
  position: fixed;
  right: 2.25rem;
  bottom: 2.25rem;

  opacity: 0.8;

  &:hover {
    opacity: 1;
    background-color: var(--color-primary);
  }

  @media screen and (width <= 768px) {
    right: 1.25rem;
    bottom: 1.25rem;
  }
}

.hidden {
  overflow: hidden;

  transform: translateX(100%);
  pointer-events: none;

  opacity: 0;
}
