.button {
  position: fixed;
  right: 36px;
  bottom: 36px;
  opacity: 0.8;

  &:hover {
    background-color: var(--color-primary);
    opacity: 1;
  }

  @media screen and (width <= 768px) {
    right: 20px;
    bottom: 20px;
  }
}

.hidden {
  opacity: 0;
  overflow: hidden;
  pointer-events: none;

  transform: translateX(100%);
}
