.footer {
  display: grid;
  margin-top: 10rem;
}

.contacts {
  display: grid;
  gap: 20px;

  padding: 28px;
  border-radius: 8px;

  color: var(--color-light);

  background-color: var(--color-primary);
}

.contactBlock {
  display: grid;
  justify-self: start;

  span {
    font-size: 1.25rem;
  }

  a {
    font-size: 1.875rem;
  }
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.125rem 3.125rem;

  font-size: 0.875rem;
}

.privacy {
  display: flex;
  column-gap: 1.875rem;
}

.link {
  &:hover {
    text-decoration: underline;
  }
}

.logoSocials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

.brand {
  font-size: 26px;
  font-weight: 600;
}

.socials {
  display: flex;
  gap: 12px;
}

.socialsItem {
  transition-duration: var(--transition-duration);

  &:hover {
    opacity: 0.9;
  }
}
