.footer {
  display: grid;
  margin-top: 10rem;

  @media screen and (width <= 768px) {
    margin-top: 8rem;
  }
}

.contacts {
  display: grid;
  gap: 1.25rem;

  padding: 1.75rem;
  border-radius: 0.5rem;

  color: var(--color-light);

  background-color: var(--color-primary);

  @media screen and (width <= 1516px) {
    border-radius: 0;
  }

  @media screen and (width <= 768px) {
    padding: 1rem;
  }
}

.contactBlock {
  display: grid;
  justify-self: start;

  span {
    font-size: 1.25rem;
  }

  a {
    font-size: 1.75rem;
    font-weight: 500;
  }

  @media screen and (width <= 768px) {
    span {
      font-size: 1rem;
    }

    a {
      font-size: 1.25rem;
    }
  }
}

.info {
  display: flex;
  gap: 0.625rem;
  align-items: center;
  justify-content: space-between;

  padding: 1.125rem 3.125rem;

  font-size: 0.875rem;

  @media screen and (width <= 768px) {
    flex-direction: column;
    align-items: start;
    padding: 0.75rem;
  }
}

.privacy {
  display: flex;
  column-gap: 1.875rem;
}

.link {
  &:hover {
    text-decoration: underline;
  }
}

.logoSocials {
  display: flex;
  gap: 0.375rem;
  align-items: center;
  justify-content: space-between;

  padding-top: 1.875rem;

  @media screen and (width <= 768px) {
    flex-direction: column;
    align-items: start;
    padding-top: 0.75rem;
  }
}

.brand {
  font-size: 1.625rem;
  font-weight: 600;

  @media screen and (width <= 768px) {
    font-size: 1.5rem;
  }
}

.socials {
  display: flex;
  gap: 0.75rem;
}

.socialsItem {
  transition-duration: var(--transition-duration);

  &:hover {
    opacity: 0.9;
  }
}

.socialsIcon {
  width: 2.75rem;
  height: 2.75rem;

  @media screen and (width <= 768px) {
    width: 2.125rem;
    height: 2.125rem;
  }
}
