.button {
  cursor: pointer;

  padding: 0.5rem 0.75rem;
  border-radius: 0.3125rem;

  font-size: 0.875rem;
  text-align: center;

  transition-duration: var(--transition-duration);

  &:disabled {
    opacity: 0.5;
  }
}

.primary {
  border: 0.0625rem solid var(--color-light);
  color: var(--color-light);
  background-color: var(--color-primary);

  &:hover {
    border-color: var(--color-primary);
    color: var(--color-primary);
    background-color: var(--color-light);
  }
}

.secondary {
  border: var(--border);
  color: var(--color-dark);
  background-color: var(--color-light);

  &:hover {
    border-color: var(--color-light);
    background-color: #ebebeb;
  }
}

.with-arrow {
  display: flex;
  gap: 0.625rem;
  align-items: center;
}

.arrow {
  fill: currentcolor;
  transition-duration: var(--transition-duration);
}

.down {
  transform: rotate(90deg);
}

.transparent {
  place-self: start start;

  padding: 0;
  border: none;

  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
  color: var(--color-dark);
  text-align: start;

  background-color: transparent;
  outline-offset: 0.1875rem;
}
