.seoText {
  padding-top: 1.875rem;

  font-size: 1rem;
  line-height: 1.5;

  p,
  li {
    margin-bottom: 0.25rem;
  }

  h1,
  h2,
  h3 {
    margin-bottom: 0.375rem;
  }

  h1 {
    font-size: 1.625rem;
    font-weight: 500;

    @media screen and (width <= 1024px) {
      font-size: 1.5rem;
    }
  }

  h2 {
    font-size: 1.375rem;
    font-weight: 500;

    @media screen and (width <= 1024px) {
      font-size: 1.25rem;
    }
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 600;

    @media screen and (width <= 1024px) {
      font-size: 1.125rem;
    }
  }
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;

  @media screen and (width <= 1024px) {
    gap: 0.375rem;
  }
}
