.page {
  padding-block: 2.5rem;
}

.pageTitle {
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-items: start;
  align-items: center;
  gap: 1.25rem;

  padding-bottom: 1.25rem;
}

.linkedinTitle {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 1.5rem;
}
