.layout {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;

  min-height: 100svh;

  @media screen and (width > 768px) {
    grid-template-areas:
      '. sidebar main .'
      '. footer footer .';
    grid-template-columns: auto 16.25rem minmax(auto, 76rem) auto;
    grid-template-rows: 1fr auto;
  }

  @media screen and (width > 1440px) {
    grid-template-columns: auto 18.75rem minmax(auto, 76rem) auto;
  }
}

.layout .header {
  grid-area: header;
  padding-block: 0.75rem;

  @media screen and (width > 768px) {
    display: none;
  }
}

.sidebar {
  grid-area: sidebar;

  @media screen and (width <= 768px) {
    display: none !important;
  }
}

.main {
  grid-area: main;
  padding-top: 1.875rem;

  @media screen and (width <= 768px) {
    padding-top: calc(1.875rem + 5.875rem);
  }
}

.main,
.header {
  padding-inline: 1rem;

  @media screen and (width <= 768px) {
    padding-inline: 0.75rem;
  }
}

.footer {
  grid-area: footer;
}
