.reviewItem {
  padding-block: 1rem;
  border-bottom: var(--border);
}

.reviewItemHeader {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 0.5rem 0.75rem;
  align-items: center;

  margin-bottom: 1rem;

  @media screen and (width <= 1280px) {
    grid-template-columns: 1.875rem auto 1fr;
  }
}

.reviewItemName {
  font-weight: 700;
}

.reviewNameWrapper {
  @media screen and (width <= 1280px) {
    grid-column: 2 / -1;
  }
}

.date {
  @media screen and (width <= 1280px) {
    grid-column: 1 / 3;
  }
}
