.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 3.625rem;

  cursor: pointer;
  transition-duration: var(--transition-duration);

  border: none;
  border-radius: 0.875rem;
  box-shadow: var(--box-shadow);
  aspect-ratio: 1;

  @media screen and (width <= 768px) {
    width: 3.125rem;

    border-radius: 0.625rem;
  }
}

.primary {
  background-color: var(--color-primary);

  svg {
    fill: var(--color-light);
  }
}

.secondary {
  background-color: var(--color-light);

  svg {
    fill: var(--color-primary);
    stroke: var(--color-primary);
  }
}
