.wrapper {
  display: grid;
  grid-template-columns: 16.25rem 1fr;
  gap: 1.875rem;

  @media screen and (width <= 1200px) {
    grid-template-columns: 1fr;
  }
}

.levelsWrapper {
  display: grid;
  grid-template-columns: 1fr;

  > div:not(:last-child) {
    border-bottom: 0.0625rem solid var(--color-border);
  }

  @media screen and (width >= 900px) {
    grid-template-columns: repeat(3, 1fr);

    > div:not(:last-child) {
      border-bottom: none;
      border-right: 0.0625rem solid var(--color-border);
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  min-height: 9.375rem;

  padding-block: 1.25rem;
}

.title {
  font-weight: 300;
  font-size: 1.25rem;
}

.vacanciesCount {
  font-weight: 700;
  font-size: 2.125rem;
  color: var(--color-primary);
}

.salary {
  font-weight: 700;
  font-size: 1.5rem;
}

.rate {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.filled {
  fill: #fc836d;
}
