.wrapper {
  display: grid;
  grid-template-columns: 16.25rem 1fr;
  gap: 1.875rem;

  @media screen and (width <= 1200px) {
    grid-template-columns: 1fr;
  }
}

.levelsWrapper {
  display: grid;
  grid-template-columns: 1fr;

  > div:not(:last-child) {
    border-bottom: var(--border);
  }

  @media screen and (width >= 900px) {
    grid-template-columns: repeat(3, 1fr);

    > div:not(:last-child) {
      border-right: var(--border);
      border-bottom: none;
    }
  }
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  min-height: 9.375rem;
  gap: 0.625rem;

  padding-block: 1.25rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 300;
}

.vacanciesCount {
  color: var(--color-primary);

  font-size: 2.125rem;
  font-weight: 700;
}

.salary {
  font-size: 1.5rem;
  font-weight: 700;
}

.rate {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.filled {
  fill: #fc836d;
}
