:root {
  --color-primary: #4fbf1f;
  --color-secondary: #f5f6f8;
  --color-border: #ebebeb;
  --color-dark: #3b434e;
  --color-light: #fff;
  --color-red: #fc836d;
  --color-green: #1dc37e;
  --color-green-light: #c8f8e4;
  --transition-duration: 0.25s;
}

html,
body {
  overflow-x: hidden;

  max-width: 100vw;

  color: var(--color-dark);
  background-color: var(--color-secondary);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  color: inherit;
}
