:root {
  // Colors
  --color-primary: #0056d2;
  --color-secondary: #f5f6f8;
  --color-dark: #3b434e;
  --color-light: #fff;
  --color-red: #ff4b4b;
  --color-green: #007149;
  --color-green-light: #aef0b9;

  // Transition
  --transition-duration: 0.25s;

  // Shadow
  --box-shadow: 0 0.25rem 0.25rem 0 rgb(0 0 0 / 5%);

  // Border
  --border: 0.0625rem solid #ebebeb;
}

html,
body {
  overflow-x: hidden;

  max-width: 100vw;

  color: var(--color-dark);
  background-color: var(--color-secondary);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  color: inherit;
}

ul {
  list-style-type: none;
}

button,
input,
textarea {
  font-family: inherit;
}
