:root {
  // Colors
  --color-primary: #0056d2;
  --color-secondary: #f5f6f8;
  --color-dark: #3b434e;
  --color-light: #fff;
  --color-red: #ff4b4b;
  --color-green: #007149;
  --color-green-alternate: #1dc37e;
  --color-green-light: #aef0b9;

  // Transition
  --transition-duration: 0.25s;

  // Shadow
  --box-shadow: 0 0.25rem 0.25rem 0 rgb(0 0 0 / 5%);
  --box-shadow-hover: 0 0 6px 0 rgb(0 0 0 / 40%);

  // Border
  --border: 0.0625rem solid #ebebeb;
}

html,
body {
  overflow: hidden auto;
  max-width: 100vw;

  // margin-right: calc(-1 * (100vw - 100%));

  color: var(--color-dark);
  background-color: var(--color-secondary);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button,
input,
textarea {
  font-family: inherit;
}

.visuallyhidden {
  position: absolute;

  overflow: hidden;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;

  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}
