.layout {
  display: grid;

  min-height: 100svh;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';

  @media (width >= 768px) {
    grid-template-columns: auto 17.5rem minmax(auto, 76.5rem) auto;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      '. sidebar main .'
      'footer footer footer footer';
  }
}

.header {
  grid-area: header;

  display: block;

  @media (width >= 768px) {
    display: none;
  }
}

.sidebar {
  grid-area: sidebar;

  @media (width <= 768px) {
    display: none;
  }
}

.main {
  grid-area: main;
  padding-inline: 12px;
}

.footer {
  grid-area: footer;
}
