.layout {
  display: grid;

  min-height: 100svh;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';

  @media screen and (width >= 768px) {
    grid-template-columns: auto 17.5rem minmax(auto, 77.25rem) auto;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      '. sidebar main .'
      'footer footer footer footer';
  }
}

.header {
  grid-area: header;

  display: block;

  @media screen and (width >= 768px) {
    display: none;
  }
}

.sidebar {
  grid-area: sidebar;

  @media screen and (width <= 768px) {
    display: none;
  }
}

.main {
  grid-area: main;

  padding-top: 1.875rem;
  padding-inline: 1.125rem;

  @media screen and (width <= 640px) {
    padding-top: 22px;
    padding-inline: 10px;
  }
}

.footer {
  grid-area: footer;
}
