.wrapper {
  display: inline-flex;
  gap: 0.25rem;

  height: 1.25rem;

  opacity: 0.75;

  span {
    outline-offset: 0.125rem;

    svg {
      transition-duration: var(--transition-duration);
    }
  }
}

.wrapper.editable {
  opacity: 1;
}

.editable {
  cursor: pointer;

  outline-offset: 0.1875rem;

  &:focus {
    outline: 0.125rem solid var(--color-dark);
  }
}

.filled {
  fill: var(--color-primary);
}
