.wrapper {
  display: inline-flex;
  gap: 0.25rem;

  height: 1.25rem;

  span {
    outline-offset: 0.125rem;

    svg {
      transition-duration: var(--transition-duration);
    }
  }
}

.editable {
  cursor: pointer;
}

.filled {
  fill: var(--color-primary);
}
