.section {
  margin-bottom: 3rem;

  @media screen and (width <= 1024px) {
    margin-bottom: 2.125rem;
  }
}

.title {
  margin-bottom: 1.875rem;

  @media screen and (width <= 1024px) {
    margin-bottom: 1.5rem;
  }
}
