.layout {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;

  min-height: 100svh;

  @media screen and (width > 768px) {
    grid-template-areas:
      '. sidebar main .'
      'footer footer footer footer';
    grid-template-columns: auto 17.5rem minmax(auto, 77.25rem) auto;
    grid-template-rows: 1fr auto;
  }
}

.layout .header {
  grid-area: header;
  padding-block: 1rem;

  @media screen and (width > 768px) {
    display: none;
  }
}

.sidebar {
  grid-area: sidebar;

  @media screen and (width <= 768px) {
    display: none !important;
  }
}

.main {
  grid-area: main;
  padding-top: 1.875rem;

  @media screen and (width <= 640px) {
    padding-top: 1.375rem;
  }
}

.main,
.header {
  padding-inline: 1rem;

  @media screen and (width <= 640px) {
    padding-inline: 0.75rem;
  }
}

.footer {
  grid-area: footer;
}
