.title {
  margin-bottom: 1.25rem;
}

.value {
  text-decoration: underline;
}

.total {
  color: var(--color-primary);
}

.products {
  display: grid;
  gap: 1.25rem;
}

.notFoundValue {
  font-weight: 600;
  color: var(--color-red);
  text-decoration: underline;
}
