.card,
.reviewBlock {
  padding: 1.875rem 1.875rem 1.25rem;

  @media screen and (width <= 1024px) {
    padding: 1rem;
  }

  @media screen and (width <= 640px) {
    padding: 0.875rem;
  }
}

/* header */

.header {
  grid-template-columns: 1fr auto;
  padding-bottom: 1.25rem;
  border-bottom: var(--border);

  @media screen and (width <= 1280px) {
    grid-template-columns: 1fr;
  }
}

.header,
.headerPreview,
.headerInner {
  display: grid;
  gap: 2.125rem;

  @media screen and (width <= 1024px) {
    gap: 1.25rem;
  }

  @media screen and (width <= 640px) {
    gap: 0.875rem;
  }
}

.headerPreview {
  grid-template-columns: auto 1fr;

  @media screen and (width <= 480px) {
    grid-template-columns: 1fr;
  }
}

.headerInner {
  grid-template-columns: repeat(3, auto);

  @media screen and (width <= 640px) {
    grid-template-columns: 1fr;
  }
}

.price,
.credit {
  display: flex;
  gap: 0.25rem;
}

.priceValue {
  font-size: 1.25rem;
  font-weight: 400;

  @media screen and (width <= 640px) {
    font-size: 1.125rem;
  }
}

.titleBlock {
  display: grid;
  gap: 0.125rem;
  align-items: start;
}

.title {
  &:hover {
    color: var(--color-primary);
  }
}

.priceBlock,
.creditBlock,
.ratingBlock {
  display: grid;
  grid-template-rows: 1.875rem auto;
  align-items: start;

  font-weight: 300;
  line-height: 1;
}

.ratingBlock {
  > button {
    color: var(--color-primary);

    &:hover {
      text-decoration: underline;
    }
  }
}

.categories,
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.logoLink {
  max-width: 4.375rem;
  max-height: 4.375rem;
}

.logo {
  border-radius: 0.3125rem;
  transition-duration: var(--transition-duration);

  &:hover {
    box-shadow: var(--box-shadow-hover);
  }
}

/* body */

.body {
  display: grid;
  gap: 1.25rem;
  padding-block: 1.5rem;
  border-bottom: var(--border);

  @media screen and (width <= 640px) {
    padding-block: 1.25rem;
  }
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.125rem;

  @media screen and (width <= 1280px) {
    gap: 2.375rem;
  }

  @media screen and (width <= 1024px) {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}

.summary {
  display: grid;
  gap: 1.375rem;
  align-content: start;
}

.disadvantagesBlock,
.advantagesBlock {
  padding-left: 0.875rem;
  border-left: 0.1875rem solid var(--color-green-alternate);

  @media screen and (width <= 640px) {
    padding-left: 0.625rem;
  }
}

.disadvantagesBlock {
  border-color: var(--color-red);
}

.summaryTitle {
  margin-bottom: 0.25rem;
  font-size: 1rem;
}

.features {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.5rem;
  align-items: center;

  margin-bottom: 1rem;
}

.feature {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  font-weight: 700;
  color: #3b434e;

  &::after {
    content: '';

    flex-grow: 1;

    width: 100%;
    height: 0.0625rem;
    border-bottom: 0.0625rem dashed #c4c4c4;
  }
}

/* actions */

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  padding-top: 1rem;
}
