.header {
  position: fixed;
  z-index: 3;

  display: grid;
  grid-template-columns: 1fr auto;
  place-items: center start;

  width: 100%;

  background-color: var(--color-light);
  box-shadow: var(--box-shadow);
}

.burger {
  width: 2.625rem !important;
}

.mobileMenu {
  position: fixed;
  z-index: 999;
  top: 0;

  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr 14.375rem 1fr;

  width: 100vw;
  height: 100svh;

  background-color: var(--color-secondary);
  box-shadow: var(--box-shadow);
}

.mobileList {
  grid-column: 2 / 3;
}

.close {
  position: absolute;
  top: 1.3125rem;
  right: 12px;

  width: 2.625rem !important;

  stroke-width: 3;

  @media screen and (width <= 640px) {
    right: 0.75rem;
  }
}
