.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  border-radius: 1.25rem;

  line-height: 1;
}

.md {
  padding: 0.3125rem 0.75rem;

  font-size: 0.875rem;
}

.sm {
  padding: 0.25rem 0.625rem;

  font-size: 0.75rem;
}

.blue {
  color: var(--color-light);
  background-color: #0a66c2;

  font-weight: 600;
}

.ghost {
  border: 1px solid var(--color-border);
  background-color: var(--color-light);

  font-weight: 500;
}

.primary {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  background-color: var(--color-light);

  font-weight: 500;
}

.green {
  color: var(--color-green);
  background-color: var(--color-green-light);

  font-weight: 700;
}

.gray {
  color: var(--color-light);
  background-color: #b3c0d9;

  font-weight: 600;
}
