.form {
  display: grid;
  gap: 1.25rem 1.875rem;

  grid-template-columns: minmax(auto, 148px) auto 1fr 1fr;

  align-items: center;

  padding-top: 1.5rem;

  @media screen and (width <= 1024px) {
    gap: 1rem;
  }

  @media screen and (width <= 640px) {
    grid-template-columns: 1fr;
  }
}

.rating {
  display: flex;
  align-items: center;
  justify-self: end;

  @media screen and (width <= 1024px) {
    grid-column: 1 / -1;
    justify-self: start;
  }

  @media screen and (width <= 640px) {
    justify-self: stretch;
  }
}

.textarea {
  grid-column: 1 / -1;

  min-height: 5rem;
}

.notice {
  grid-column: 2 / -1;

  @media screen and (width <= 1024px) {
    font-size: 0.875rem;
  }

  @media screen and (width <= 640px) {
    grid-column: 1 / -1;
  }
}

.inputName {
  grid-column: 1 / 3;

  @media screen and (width <= 640px) {
    grid-column: 1 / -1;
  }
}

.statusMessage {
  width: 100%;
  max-width: 18.75rem;

  text-align: center;

  font-weight: 600;
  grid-column: 1 / -1;
  justify-self: start;
  padding-block: 6px;
}

.success {
  color: var(--color-green);
  background-color: var(--color-green-light);
}

.error {
  color: #ff4b4b;

  background-color: #ffbcbc;
}
